/* CSS Stylesheet created by Shaun Anderson 2006 (info@accessibility101.org.uk)

/* Sitewide  ****************************************/

*
.largefont {font-size: large}
.mediumfont {font-size: medium}
.smallfont {font-size: small}

body 						
{	
	font: 0.8em sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

img
{	
	border: 0;
}

.clearme
{
	clear: both;
}

/* hr
{
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	border: solid;
	padding: 0;
	margin: 10px;
} */

#skip
{
	display: none;
}

.engines
{
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
}

/* Text ******************************************/

p
{
	font-size: 1em;
	color: #333333;
	background: transparent;
	padding: 2px 10px 10px 2px;
	line-height: 1.5em;
}
#linkbuttons
{
margin:4px;
}
#linkbuttons a img
{
border:none;
display:block;
float:left;
margin:0 5px 5px 0;
}


h1, h3, h1, h4, h5, h6
{
	font-size: 1.4em;
	color: #333333;
	background: transparent;
	font-weight: bold;
	text-align: left;
	font-family: sans-serif;
}


 h2
{
	font-size: 1.2em;
	color: #666666;
	background: transparent;
	font-weight: bold;
	text-align: left;
	font-family: sans-serif;
}


a.none,
a:hover.none
{
	background: transparent;
	text-decoration: none;
}

a,
a:link
{
	color: #333333;
	background: transparent;
	text-decoration: underline;
	padding: 1px;

}

a:hover
{
	color: #333333;
	background: transparent;
	padding: 1px;
}

#pagecontent a
{
	color: #333333;
	background: transparent;
	text-decoration: underline;
	padding: 1px;
}

#pagecontent a:hover
{
	color: #003300;
	background: transparent;
	padding: 1px;
	text-decoration: underline;
	clear: both;
	background-color: #FFFF00;
}

#pagecontent a:visited
{
	color: #006600;
	background: transparent;
	padding: 1px;
	clear: both;
}

/* NAVIGATION CONTROLS ************************************/


#toprightnavigationoption p
{
	font-size: 0.9em;
	background: transparent;
	padding-bottom: 0;
	line-height: 1em;
}

#toprightnavigationoption a
{
	color: #666666;
	background: transparent;
	text-decoration: underline;
	padding-bottom: 0;
}

#toprightnavigationoption a:hover
{
	color: #c30;
	background: transparent;
	text-decoration: underline;
	background: transparent;
}

#toprightnavigationoption
{
	float: right;
	height: 50px;
	width: 60%;
	/* width: 170px; */
	/* padding: 15px 15px 0 0; */
	text-align: right;
	/* background: #ed0; */
}

#footer ul
{
	width: 95%;
	list-style-type: none;
	padding-top: 5px;
	padding-left: 15px;
}

#footer li
{
	display: inline;
	color: #999999;
	padding-left: 15px;
}

#footer li a
{
	color: #ccc;
	text-decoration: none;
	background: transparent;
}

#footer li a:hover
{
	text-decoration: underline;
	background: transparent;
}


/* LAYOUT CONTROLS ****************************************/ 

#header-holder
{
	width: 95%;
	height: 60px;
	background: transparent;
	margin: 0 auto 0 auto;
}

#logo
{
	float: left;
	width: 100%;
	height: 50px;
	background-image:       url(template-images/logo.gif);
	background-repeat: no-repeat;
	text-align: right;
	padding-top: 20px;
}

#navcontainer
{
	width: 95%;
	height: 2.2em;
	margin: 0 auto 0 auto;
	background-color: #666666;
}

#floatright
{
	float: right;

}


#page-banner-default
{
	width: 95%;
	height: 150px;
	text-align: right;
	margin: 0px auto 0 auto;
	border-color: #666666;
	background-image:  url(template-images/banner-default.gif);
	background-repeat: no-repeat;
}

#page-banner-default img
{
	display: inline;
	/* float: left; */
}

#imagecontainer
{
	width: 470px;
	height: 90px;
	text-align: left;
	background: #202020;
	border-bottom: 2px solid #c30;
	margin: 10px auto 0 auto;
}

#pagecontent
{
	width: 95%;
	text-align: left;
	background: transparent;
	border-right-color: #999999;
	border-left-color: #999999;
}

#deflhs
{
	float: left;
	padding-left: 50px;
	width: 58%;
	padding-right: 1px;
	padding-top: 25px;
}

#defrhs
{
	float: right;
	width: 18%;
	text-align: left;
	padding-bottom: 30px;
	border-left-color: #666666;
	border-left-style: solid;
	border-left-width: 0px;
	padding-left: 5px;
}

#defrhs2
{
	float: right;
	width: 27%;
	text-align: left;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border-right-color: #809522;
	border-right-style: dotted;
	border-right-width: 1px;
	border-left-color: #809522;
	border-left-style: dotted;
	border-left-width: 1px;
	border-bottom-color: #809522;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

#lhsnav
{
	float: left;
	width: 185px;
}
#footercontainer
{
	width: 95%;
	height: 100px;
	text-align: right;
	background: transparent;
	border-top: 1px solid #c30;
	margin: 0 auto 0 auto;
	border-left-color: #999999;
	border-left-width: 1px;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-color: #A4BE2D;
	border-top-style: dotted;
	border-top-width: 1px;
	color: #666666;
	background-repeat: no-repeat;
	line-height: 15px;
	padding-bottom: 10px;
	clear: both;
	padding-top: 5px;
}

/* BUTTON CONTROLS ******************************************/

.tip
{
	width: 75px;
	font-family: Skia, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: none;
	border-top: 1px dotted #404040;
	border-right: 1px dotted #404040;
	border-bottom: 1px dotted #404040;
	border-left: 1px dotted #404040;
	text-align: center;
	float: right;
	line-height: 15px;
	color: #666666;
	padding: 10px 10px 10px 10px;
	clear: left;
	background-color: #FFFFCC;
}

.previous-page
{
	width: 75px;
	font-family: Skia, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: none;
	border-top: 1px dotted #404040;
	border-right: 1px dotted #404040;
	border-bottom: 1px dotted #404040;
	border-left: 1px dotted #404040;
	text-align: center;
	float: left;
	line-height: 15px;
	color: #333333;
	padding: 10px 10px 10px 10px;
	clear: left;
	background: transparent;
}

.next-page
{
	width: 75px;
	font-family: Skia, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: none;
	border-top: 1px dotted #404040;
	border-right: 1px dotted #404040;
	border-bottom: 1px dotted #404040;
	border-left: 1px dotted #404040;
	text-align: center;
	float: right;
	line-height: 15px;
	color: #333333;
	padding: 10px 10px 10px 10px;
	clear: left;
	background: transparent;
}
/* TABLE CONTROLS *****************************************/

/* #toprightnavigationoption table
{
	margin-bottom: 0;
}

#toprightnavigationoption td
{
	vertical-align: middle;
	background: #202020;
	padding: 3px 0 3px 0;
	border: none;
} */

table
{
	margin-bottom: 10px;
}
blockquote {
	background :   url(template-images/quotes.gif) no-repeat top left;
	margin: 15px 30px 10px 10px;
	padding-left: 50px;
	font-style : italic;
	color : #666;
	line-height: 16px;
}
blockquote cite { 
  background : transparent url(template-images/sb_end_quotes.gif) no-repeat top right;
  margin-top : -10px;
  margin-right : -10px;
  padding-right : 30px;
  padding-top : 30px;
  display : block; 
  text-align : right;
  font-style : italic;
  color : #cc9900;
}

.floatblockquote {
	float: right;
	width: 35%;
}

#content ol li cite, #content ol li cite a { 
  background : transparent;
  font-style : normal; 
  font-size : 1em;
}
li {
	padding-right: 10px;
	line-height: 1.5em;
	padding-bottom: 8px;
}
label {
	color: #777777;
	background: transparent;
}
code {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	color: #666666;
	height: auto;
	width: auto;
	display: block;
	background-color: #FFFFCC;
	padding: 10px 10px 10px 10px;
}
form#valid fieldset {
	border: red groove;
	color: red;
}
form#access fieldset {
	border: green groove ;
	color: green;
}
form#links fieldset {
	border: blue groove;
	color: blue;
}
fieldset {
	padding: 1em;
}
p.buttons a, p.buttons a:link, p.buttons a:visited {
	border: outset #004040;
	background: #004040;
	color: #ffffff;
	font-size: smaller;
	text-decoration: none;
}
p.buttons a:hover {
	border: inset #008080;
	background: #008080;
	color: #ffffff;
	font-size: smaller;
}
/*
div#test {
	float: left ;
	width: 60%;
}
div#test {
	float: right;
	width: 50%;
}
div#version2 {
	float: left;
	width: 40%;
}
*/
p.slogan {
	font-size: 160%;
	font-style: italic;
	color: #202060;
	border: groove #202060 ;
	text-align: center;
	padding: 0.5em;
}
div#about {
	clear: right ;
	padding: 0.5em;
	margin-left: 60%;
}
div#openia {
	background: #202060;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	text-align: center;
	border: outset 5px;
	color: white;
	width: 35%;
}
/*
ul#tools {
	min-width: 30%;
	margin-top: 3em;
	width: 30%;
}
ul#tools li {
	margin-left: 3em;
}
*/
div#main {
	float: left ;
	width: 60% ;
	margin-right: 2em;
}
/* footerlinks */
#footerlinks {
	clear: both;
	padding: 0 .6em;
	color: #999999;
	font-size: 1em;
	background: transparent;
	text-align: right;
	list-style-type: none;
}

/* - Hyperlinks */
#footerlinks a:link, #header a:link {
 color: #000000;
}
#footerlinks a:visited, #header a:visited {
 color: #990000;
}
#footerlinks a:hover, #footerlinks a:active, #footerlinks a:focus, #header a:hover, #header a:active, #header a:focus {
	color: #669900;
	text-decoration: underline;
}
#footerlinks p {
 margin: .5em 0;
 padding: 0;
}
/* - List */
#footerlinks ul {
 margin: .5em 0;
 padding: 0;
 list-style-type: none;
}
#footerlinks li {
 display: inline;
 padding: 0 .5em 0 .7em;
 border-left: .12em solid #000;
}
#footerlinks li.first {
 padding-left: 0;
 border: 0;
}

.position-ads {
	margin-left: 50px;
}
/* 
Theme Name: Accessibility101/
*/

input, textarea 
{
	background: #F3F6ED;
	border: #E1D6C6 1px solid;
}
#rap 
{
	background:transparent;

}
#header {
	background:#fff url(scripts/img/top.jpg) no-repeat bottom; 	
 	height: 183px;
	margin: 0 auto;
	width:760px;
	padding:0;
	border:#fc9 0px solid;
	
}#sidebar {
	width:300px;
	padding:0px 8px 10px 8px;
	margin:0;
	font-size:1em;
	color:#333;
	display:inline;

}
acronym, abbr {
	border-bottom: 1px dotted #0c6bf0;
}
acronym, abbr, span.caps {
	cursor: help;
	letter-spacing: .07em;
}


cite {
	font-size: 0.9em;
	font-style: normal;
}

#header h1 a 
{
	color:#B5C09D;
	text-decoration:none;
}
#header h1 a:hover 
{
	color:#F7F3ED;
}
#header #desc
{
	font-weight:normal;
	font-style:italic;
	font-size:1em;
	color:#B5C09D;
	text-align:right;
	margin:0;
	padding:0 20px 0 0;
}
#sidebar h2 {
	margin: 10px 0 0 0;
	padding:2px;
	font-size: 1em;
	color: #676E04;
	text-align:center;
	background:url(scripts/img/sidenav_top.jpg) no-repeat center;
	border:#ccc 0px solid;
	height:22px;
	font-weight:bold;
}
#sidebar ul {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	font-size: 0.9em;	
	padding-bottom:3em;
	background:#F3F6ED url(scripts/img/sidenav_bottom.jpg) no-repeat bottom;
	border:#E1D6c6 1px solid;
	border-top:#f3f6ed 1px solid;
}
#sidebar ul li {
	margin: 0.1em 0 0 0;
	padding: 0;	
}
#sidebar li a {
	text-decoration: none;
	border:none;
}
#sidebar li a:link {
	color: #909D73;	
}
#sidebar li a:visited {
	color: #999999;	
}
#sidebar li a:hover, #sidebar li a:active {
	color: #990000;
}
#content ul {
	margin-left: 0;
	padding-left: 45px;
	list-style-type: none;
}
#content ul li {
	background: url(scripts/img/bullet.gif) no-repeat 0 7px;
	padding-left: 1.5em;
}
.post 
{
	margin:0 0 30px 0;
}
.post-info 
{

	margin:0;
	padding:0;
	color:#333;
}
.post-info a
{
	color:#990000;
}
.post-info a:hover 
{
	color:#000;
}
.post-content {
	padding:10px 0;
	margin:3px 0;
	border-top:#BBC4A3 1px solid;	
}
.post-title {
	font-size:1.5em;
	margin:0;
	font-weight:bold;
}
.post-title a:link, .post-title a:visited, .post-title a:hover, .post-title a:active
{
	text-decoration:none;
	color:#676E04;
}
.post-date {
	float: left;
	color: #BBC4A3;
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	margin: 3px 10px 0 0;
	padding: 8px 3px;
	width: 55px;
	background: #E7EBDE;
	line-height:1em;
}
.post-footer 
{
	padding-top:20px;
	background:url(scripts/img/divider.gif) no-repeat center;
}
#footer {
	margin:0 auto;
	padding: 7px 0;
	border-top:#BBC4A3 1px solid;
	clear: both;
	font-size: 0.8em;
	color: #999;
	text-align:center;
	width:740px;
}
#footer a {
border:none;
color:#7A7636;
}

.commentlist {
	font-size:1em;
	font-weight:normal;	
}
#commentform 
{
	margin:0 0 0 40px;
}
#commentform textarea {
	width: 80%;
}
#commentform p {
	margin: 0 0 1em;
}
#comments,#respond {
	text-transform: uppercase;
	margin: 3em 0 1em 40px;
	color: #676E04;
	font: 0.9em verdana, helvetica, sans-serif;
}
.commentlist li 
{
	margin:5px 0;
	padding:10px 10px 20px 10px;
	background:#F3F6ED url(scripts/img/comments_bottom.jpg) repeat-x bottom;
	border:#E1D6C6 1px solid;
}
.commentlist .alt 
{

}
#topnav 
{
	list-style:none;
	font-size:0.9em;
	margin:0 auto;	
	padding:12px 20px 0 0;
	text-align:right;	
	font-family:Verdana, Arial, Sans-Serif;
}
#topnav li 
{
	list-style:none;
	display:inline;
	padding:0;
	margin:0;
	font-weight:bold;
}

#topnav li a:link, #topnav li a:visited
{
	text-decoration:none;	
	color:#BBC4A3;
}
#topnav li a:hover, #topnav li a:active
{
	color:#F7F3ED;	
}


#header-holder img {
	position: relative;
    float: left;
}